
*{
    font-family: Calligraffitti;
}
body{
  background-color: #ffffff
}
ul.navbar
{
  list-style: none;
  color: #222222;
  padding: 12px;
  background-color: #ffeeff;
}
ul.navbar li{
    padding-top: 2px;
    padding-right: 12px;
    padding-left: 12px;
    display: inline;
    text-align: center;
}
ul.navbar li:hover{
    background-color: #fffeff
}

h1.pageTitle{
    text-align: center;
}
