

*{
/*
    font-family: Calligraffitti;
    font-family: 'New Century Schoolbook', cursive;
*/
    font-family: 'Merienda', cursive;
}
body{
  background-color: #ffffee;
/*  background-image: url("/static/homepage/IMG_20200501_201142.jpg");
  background-repeat: no-repeat;
  background-size: cover;
*/
}

h1.bodyHeading {
    font-family: 'Gloria Hallelujah', cursive;
}

ul.navbar
{
  color: #222222;
  padding: 12px;
  background-color: #fff0ff;
  display: flex;
  justify-content: space-between;
  width:"100%"
}
ul.navbar li{
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline;
    text-align: center;
    font-size: 75%
    width:"100%";
}

@media only screen and (min-device-width: 480px){
    ul.navbar li a{
        font-size:200%
    }
}

ul.navbar li a.active{
    color: #555555;
    width: "100%";
}

ul.navbar li a.inactive{
    color: black;
    font-weight: bold;
    width: "100%";
}


ul.navbar li:hover{
    background-color: #fff2ff
}



a {
    color: black
}

h1.pageTitle{
    text-align: center;
    font-size: 500%;
    font-family: 'Marck Script', cursive;
    padding: 1%
}
@media only screen and (max-device-width: 480px){
    h1.pageTitle{
        text-align: center;
        font-size: 300%;
        font-family: 'Marck Script', cursive;
        padding: 1%
    }
}

p{
    font-size: 20px;
}

p.center{
    vertical-align: middle;

}

div.main_div{
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    background-color: #ffeedd;
}

.w3-row-padding{
    display:flex;
    flex-wrap:wrap;
    margin-bottom:100px;

}

.w3-half{
    min-width:250px;
    flex:1;
}
